@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
* {
   margin:0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

main {
    background-image: url('./img/tokyo.jpg');
    background-size: cover;
    width: 100wh;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 0 80px;
}
.logo {
    font-size: 24px;
    color:white;
    font-weight:700
}
.links {
    list-style-type: none;
    display: flex;
    color: #ccc;
    justify-content: space-between;
    width: 400px;
    
}
.links li {
    cursor: pointer;
    transition: 0.3s ease-in;
}
.links li:hover {
    color: rgb(202, 57, 57);
}
section {
    padding:150px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
ul {
    list-style-type: none;
}
.countdown {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,2fr);
    width: 70%;
    text-align: center;
    color: white;
    gap: 10px;
    font-size: 72px;
}
.countdown div:nth-of-type(1) {
    color: #ccc;
    font-size: 42px;
    font-weight: 100;
}
.countdown div:nth-of-type(2) {
    color: #ccc;
    font-size: 42px;
    font-weight: 100;
}
.countdown div:nth-of-type(3) {
    color: #ccc;
    font-size: 42px;
    font-weight: 100;
}
.countdown div:nth-of-type(4) {
    color: #ccc;
    font-size: 42px;
    font-weight: 100;
}
footer {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 30px;
}
.text {
    color: #ccc;
    font-weight: 100;
}
input {
    padding: 15px 20px;
    border-radius: 20px;
    width: 500px;
}
input:focus {
    outline:  none;
}
.form {
    position: relative;
}
button {
    color: white;
    background-color: rgb(84, 84, 255);
    font-weight: 500;
    padding: 13px 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.icons {
    color:white;
    
    margin-top: 20px;
}
i {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
i:not(i.bars):hover {
  transform: scale(1.5);  
}
.bars {
    display: none;
    font-size: 26px;
}
.header-container {
    position: relative;
}
.res {
    display: none;
}
@media (max-width:768px) {
    .countdown div:nth-of-type(1),.countdown div:nth-of-type(2),.countdown div:nth-of-type(3),.countdown div:nth-of-type(4){
        font-size: 32px;
    }
    .countdown {
        font-size: 54px;
    }
    header {
        padding: 0 40px;
    }
    .res {
        position: absolute;
        top: 30px;
        right: 19px;
        display: flex !important;
        flex-direction: column;
        background: rgb(84 84 255 / 38%);
        padding: 40px 80px;
        justify-content: center;
        text-align: center;
    }
    .links {
        display: none;
        width: 300px;
    }
    .bars {
        display: block;
        color: white;
    }
}
@media (max-width:576px) {
    header {
        padding: 0 20px;
    }
    .countdown div:nth-of-type(1),.countdown div:nth-of-type(2),.countdown div:nth-of-type(3),.countdown div:nth-of-type(4){
        font-size: 16px;
    }
    .countdown {
        font-size: 32px;
    }
    .text {
        text-align: center;
    }
    
    input {
        width: 300px;
    }
    section {
        padding-bottom: 50px;
    }
    .res {
        padding: 40px 0;
        width: 200px !important;

    }
}